<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Chamados</title>
    <link rel="stylesheet" href="../static/vizualizar.css">

</head>

<body>

    <h1>Visualizar Chamados</h1>

    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-message {% if messages[0][0] == 'error' %}flash-error{% elif messages[0][0] == 'info' %}flash-info{% endif %}">
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Container para os chamados -->
    <div class="chamados-container">
        {% for chamado in chamados %}
        <div class="chamado-box">
            <h3>{{ chamado.acao }}</h3> <!-- Exibindo a ação do chamado -->
            <p><strong>Nome:</strong> {{ chamado.nome }}</p>
            <p><strong>Setor:</strong> {{ chamado.setor }}</p>

            <p><strong>Ação Selecionada:</strong> {{ chamado.acao }}</p>
            
            {% if chamado.acao == 'solicitar_material' %}
                <p><strong>Material Solicitado:</strong> {{ chamado.material }}</p>
                {% if chamado.material == 'papel' %}
                    <p><strong>Quantidade de Papel:</strong> {{ chamado.quantidade }}</p>
                {% endif %}
            {% elif chamado.acao == 'relatar_problema' %}
                <p><strong>Problema Relatado:</strong> {{ chamado.problema }}</p>
                {% if chamado.problema == 'outro' %}
                    <p><strong>Descrição do Problema:</strong> {{ chamado.descricao }}</p>
                {% endif %}
            {% endif %}

            <!-- Botão de excluir -->
            <form method="POST" action="{{ url_for('excluir_chamado', id=chamado.id) }}" style="display:inline;">
                <button type="submit" class="delete-btn">Excluir</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <!-- Botão de Voltar -->
    <a href="{{ url_for('index') }}" class="voltar-btn">Voltar</a>

</body>

</html>
